<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="Amazon Automation Script" verbose="2" parallel="false">


    <test name="Amazon Home">
        <classes>
            <class name="test_Runners/TestRunner></class>
            <!--            <class name="home.TestHomePage"/>-->
            <!--            <class name="home.TestHomePage"/>-->
            <!--            <class name="home.TestHomePage"/>-->
            <!--            <class name="home.TestHomePage"/>-->
            <!--            <class name="home.TestHomePage"/>-->
            <!--            <class name="home.TestHomePage"/>-->


        </classes>

    </test>

</suite>
